* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "微软雅黑";
}

.container {
    width: 91%;
    max-width: 91.77rem;
    margin: 0 auto;
}

.wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #060D27;
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}


/* 底部标题经过变色 */
.footer .ft__menu__list .menu__list__item a {
    transition: all .3s ease-in-out .2s;
}

.footer .ft__menu__list .menu__list__item a:hover {
    color: #ffce15;
}


@font-face {
    font-family: Ayuthaya;
    src: url('../font/Ayuthaya.ttf');
}

@font-face {
    font-family: ipagp;
    src: url("../font/W4.ttc");
}