html {
  font-size: 14px;
}

@media (min-width: 769px) and (max-width: 1440px) {
  .dayIntroduced__item__title {
    font-size: 1.2vw;
  }

  section .time {
    font-size: 1.9vw;
  }

  section .time .time__month {
    width: 8rem;
  }

  section .time .time__month .time__bg {
    width: 8rem;
    height: auto;
    top: 0;
  }

  section .time .time__month .time__bg img {
    max-height: 100px;
  }

  section .title {
    flex: 3;
  }

  .calendar {
    margin-right: 2vw;
  }

  .dayIntroduced__bottom {
    flex-wrap: nowrap;
  }

  .dayIntroduced__item__list {
    padding: 1rem;
  }

  .solar_term_date {
    /* width: 100px; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

}

@media (min-width: 1200px) and (max-width: 1440px) {
  section .time .time__month .time__bg {
    width: 10rem;
    top: -25%;
  }

  section .time .time__month {
    width: 10rem;
  }
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 14px;
  }

  .calendar {
    flex: 1;
  }
}

/* @media screen and (max-width: 1024px) and (min-width: 769px) {
  .solar_term_date {
    width: 40px;
  }
} */

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  table {
    padding: 0;
  }

  section .title {
    width: 70%;
  }

  section .title {
    flex: 5;
  }

  .main {
    position: relative;
  }

  .main .container {
    padding: .42rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
    /* background-image: url("../img/mbg.png"); */
  }

  .dayIntroduced__left .dayIntroduced__left__item:last-child,
  .dayIntroduced__right .dayIntroduced__right__item {
    transform: scale(.8);
  }

  .dayIntroduced__left .dayIntroduced__list__item span {
    width: 13rem;
  }

  .dayIntroduced__right .dayIntroduced__list__item span {
    width: auto;
  }

  .dayIntroduced__right {
    margin-left: 0;
    text-align: right;
  }

  .calendar {
    flex: auto;
    width: 100%;
    margin-right: 0;
    padding: .5rem;
    margin: 2rem 0;
  }

  section .time .time__month .time__month--info {
    margin-top: .83rem;
  }

  section .time .time__month {
    position: absolute;
    left: 50%;
    top: 18rem;
    margin-left: 0;
    font-size: 0.73rem;
    transform: translateX(-50%);
  }

  section .time .time__month .time__bg {
    width: 7.3rem;
    top: -50%;
    right: auto;
    height: 7.3rem;
    margin-left: 3.65rem;
  }

  section .time {
    font-size: 2vw;
  }

  .tl-toubu p {
    font-size: 1.5rem;
  }

  .ri-toubu-right img {
    width: 1.5rem;
  }

  section .time .time__current .time__current--hs {
    margin-top: 1rem;
  }

  .tl-toubu .ri-toubu-right div span {
    font-size: 1rem;
  }

  .dayIntroduced__item__title {
    margin-bottom: .5rem;
  }

  .dayIntroduced__item__list {
    padding: 1rem;
  }


  .dayIntroduced__bottom {
    margin-top: 2rem;
  }

  .dayIntroduced__bottom .dayIntroduced__item:last-child {
    margin-top: 2rem;
  }

  .dayIntroduced__left .dayIntroduced__left__item:first-child .dayIntroduced__item__title p {
    justify-content: end;
  }

  .dayIntroduced__left__item:first-child .dayIntroduced__item__list {
    text-align: right;
  }

  .end {
    font-size: 1rem;
  }

  .ft__menu {
    transform: scale(.8);
  }

  .footer {
    padding-bottom: 0;
  }

  .footer .ft__menu__list .menu__list__item+.menu__list__item {
    margin-left: 1.25rem;
  }

  .ft__tip {
    transform: scale(.7) translateX(-6rem);
  }

  .ft__tip span:last-child {
    display: block;
    width: fit-content;
    transform: translate(18rem, -1.4rem);
  }
}

@media screen and (max-width: 375px) {

  .time__current {
    display: none;
  }


}